### Exercise
# Loop over a list

Have another look at the `for` loop that Hugo showed in the video:

In [ ]:
fam = [1.73, 1.68, 1.71, 1.89]
for height in fam:
    print(height)

As usual, you simply have to indent the code with 4 spaces to tell Python which code should be executed in the `for` loop.
The `areas` variable, containing the area of different rooms in your house, is already defined.

## Instructions
* Write a `for` loop that iterates over all elements of the `areas` list and prints out every element separately.

areas list

In [1]:
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

Code the while loop

In [3]:
while offset != 0:
    print("correcting...")
    offset -= 1
    print(offset)

US     809
AUS    731
JAP    588
IN      18
RU     200
MOR     70
EG      45
Name: cars_per_cap, dtype: int64

In [9]:
many_cars =  cpc > 500
many_cars

US      True
AUS     True
JAP     True
IN     False
RU     False
MOR    False
EG     False
Name: cars_per_cap, dtype: bool

In [10]:
car_maniac = cars[many_cars]
car_maniac

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False

In [11]:
print(cars[cars['cars_per_cap'] > 500])

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False