### Exercise
## Subsetting columns

When working with data, you may not need all of the variabes in your dataset. Sqaure brackets (`[]`) can be used to select only the columns that matter to you in an order that makes sense to you. To select only `"col_a"` of the DataFrame `df`, use

In [ ]:
df["col_a"]

To select `"col_a"` and `"col_b"` of `df`, use

In [ ]:
df[["col_a", "col_b"]]

`homelessness` is available and `pandas` is loaded as `pd`.

## Instructions
* Create a DataFrame called `individuals` that contains only the `individuals` column of `homelessness`.
* Print the head of the result.

In [1]:
import pandas as pd
homelessness = pd.read_csv('homelessness.csv', index_col=0)
homelessness.head()

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

Select thet individual column

In [3]:
individuals = homelessness["individuals"]
individuals

0       2570.0
1       1434.0
2       7259.0
3       2280.0
4     109008.0
5       7607.0
6       2280.0
7        708.0
8       3770.0
9      21443.0
10      6943.0
11      4131.0
12      1297.0
13      6752.0
14      3776.0
15      1711.0
16      1443.0
17      2735.0
18      2540.0
19      1450.0
20      4914.0
21      6811.0
22      5209.0
23      3993.0
24      1024.0
25      3776.0
26       983.0
27      1745.0
28      7058.0
29       835.0
30      6048.0
31      1949.0
32     39827.0
33      6451.0
34       467.0
35      6929.0
36      2823.0
37     11139.0
38      8163.0
39       747.0
40      3082.0
41       836.0
42      6139.0
43     19199.0
44      1904.0
45       780.0
46      3928.0
47     16424.0
48      1021.0
49      2740.0
50       434.0
Name: individuals, dtype: float64

Print the head of the result

In [4]:
print(individuals.head())

0      2570.0
1      1434.0
2      7259.0
3      2280.0
4    109008.0
Name: individuals, dtype: float64

## Instructions 2/3
* Create a DataFrame called `state_fam` that contains only the `state` and `family_members` columns of `homelessness`, in that order.
* Print the head of the result.

Select the state and family_members columns

In [5]:
state_fam = homelessness[["state", "family_members"]]
state_fam

                   state  family_members
0                Alabama           864.0
1                 Alaska           582.0
2                Arizona          2606.0
3               Arkansas           432.0
4             California         20964.0
5               Colorado          3250.0
6            Connecticut          1696.0
7               Delaware           374.0
8   District of Columbia          3134.0
9                Florida          9587.0
10               Georgia          2556.0
11                Hawaii          2399.0
12                 Idaho           715.0
13              Illinois          3891.0
14               Indiana          1482.0
15                  Iowa          1038.0
16                Kansas           773.0
17              Kentucky           953.0
18             Louisiana           519.0
19                 Maine          1066.0
20              Maryland          2230.0
21         Massachusetts         13257.0
22              Michigan          3142.0
23             Minnesota          3250.0
24           Mississippi           328.0
25              Missouri          2107.0
26               Montana           422.0
27              Nebraska           676.0
28                Nevada           486.0
29         New Hampshire           615.0
30            New Jersey          3350.0
31            New Mexico           602.0
32              New York         52070.0
33        North Carolina          2817.0
34          North Dakota            75.0
35                  Ohio          3320.0
36              Oklahoma          1048.0
37                Oregon          3337.0
38          Pennsylvania          5349.0
39          Rhode Island           354.0
40        South Carolina           851.0
41          South Dakota           323.0
42             Tennessee          1744.0
43                 Texas          6111.0
44                  Utah           972.0
45               Vermont           511.0
46              Virginia          2047.0
47            Washington          5880.0
48         West Virginia           222.0
49             Wisconsin          2167.0
50               Wyoming           205.0

Print the head of the result

In [6]:
print(state_fam.head())

        state  family_members
0     Alabama           864.0
1      Alaska           582.0
2     Arizona          2606.0
3    Arkansas           432.0
4  California         20964.0

## Instructions 3/3
* Create a DataFrame called `ind_state` that contains the `individuals` and `state` columns of `homelessness`, in that order.
* Print the head of the result.

Select only the individuals and state columns, in that order

In [7]:
ind_state = homelessness[["individuals", "state"]]
ind_state

    individuals                 state
0        2570.0               Alabama
1        1434.0                Alaska
2        7259.0               Arizona
3        2280.0              Arkansas
4      109008.0            California
5        7607.0              Colorado
6        2280.0           Connecticut
7         708.0              Delaware
8        3770.0  District of Columbia
9       21443.0               Florida
10       6943.0               Georgia
11       4131.0                Hawaii
12       1297.0                 Idaho
13       6752.0              Illinois
14       3776.0               Indiana
15       1711.0                  Iowa
16       1443.0                Kansas
17       2735.0              Kentucky
18       2540.0             Louisiana
19       1450.0                 Maine
20       4914.0              Maryland
21       6811.0         Massachusetts
22       5209.0              Michigan
23       3993.0             Minnesota
24       1024.0           Mississippi
25       3776.0              Missouri
26        983.0               Montana
27       1745.0              Nebraska
28       7058.0                Nevada
29        835.0         New Hampshire
30       6048.0            New Jersey
31       1949.0            New Mexico
32      39827.0              New York
33       6451.0        North Carolina
34        467.0          North Dakota
35       6929.0                  Ohio
36       2823.0              Oklahoma
37      11139.0                Oregon
38       8163.0          Pennsylvania
39        747.0          Rhode Island
40       3082.0        South Carolina
41        836.0          South Dakota
42       6139.0             Tennessee
43      19199.0                 Texas
44       1904.0                  Utah
45        780.0               Vermont
46       3928.0              Virginia
47      16424.0            Washington
48       1021.0         West Virginia
49       2740.0             Wisconsin
50        434.0               Wyoming

Print the head of the result

In [8]:
print(ind_state.head())

   individuals       state
0       2570.0     Alabama
1       1434.0      Alaska
2       7259.0     Arizona
3       2280.0    Arkansas
4     109008.0  California