### Exercise
# Indexes and values (2)

For non-programmer folks, `room 0: 11.25` is strange. Wouldn't it be better if the count started at 1?

## Instructions
* Adapt the `print()` in the `for` loop so that the first printout becomes `"room 1: 11.25"`, the second one `"room 2: 18.0"` and so on.

areas list

In [1]:
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

Code the for loop

In [3]:
for index, area in enumerate(areas):
    print()

US     809
AUS    731
JAP    588
IN      18
RU     200
MOR     70
EG      45
Name: cars_per_cap, dtype: int64

In [9]:
many_cars =  cpc > 500
many_cars

US      True
AUS     True
JAP     True
IN     False
RU     False
MOR    False
EG     False
Name: cars_per_cap, dtype: bool

In [10]:
car_maniac = cars[many_cars]
car_maniac

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False

In [11]:
print(cars[cars['cars_per_cap'] > 500])

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False