### Exercise
## Sorting rows

Finding interesting bits of data in a DataFrame is often easier if you change the order of the rows. You can sort the rows by passing a column name `.sort_values()`.

In cases where rows have the same value (this is common if you sort on a categorical variable), you may wish to break the ties by sorting on another column. You can sort on multiple columns in this way by passing a list of column names.

| Sort on          | Syntax                                  |
|------------------|-----------------------------------------|
| one column       | `df.sort_values("breed")`               |
| multiple columns | `df.sort_values(["breed", "weight_kg"]) |

By combining `.sort_values()` with `.head()`, you can answer questions in the form, "What are the top cases where...?".

`homelessness` is available and `pandas` is loaded as `pd`.

## Instructions
* Sort `homelessness` by the number of homeless number of homeless individuals, from smallest to largest, and save this as `homelessness_ind`.
* Print the head of the sorted DataFrame.

In [6]:
import pandas as pd
homelessness = pd.read_csv('homelessness.csv', index_col=0)
homelessness.head()

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

Sort homelessness by individual

In [7]:
homelessness_ind = homelessness.sort_values('individuals')

print the top few rows

In [5]:
print(homelessness_ind.head())

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

## Instructions 2/3
* Sort `homelessness` by the number of homeless `family_members` in descending order, and save this as `homelessness_fam`.
* Print the head of the sorted DataFrame.

Sort homelessness by descending family members

In [9]:
homelessness_fam = homelessness.sort_values(['family_members'], ascending=False)
homelessness_fam

,region,state,individuals,family_members,state_pop
32,Mid-Atlantic,New York,39827.0,52070.0,19530351
4,Pacific,California,109008.0,20964.0,39461588
21,New England,Massachusetts,6811.0,13257.0,6882635
9,South Atlantic,Florida,21443.0,9587.0,21244317
43,West South Central,Texas,19199.0,6111.0,28628666
47,Pacific,Washington,16424.0,5880.0,7523869
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922
13,East North Central,Illinois,6752.0,3891.0,12723071
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025
37,Pacific,Oregon,11139.0,3337.0,4181886
35,East North Central,Ohio,6929.0,3320.0,11676341
23,West North Central,Minnesota,3993.0,3250.0,5606249
5,Mountain,Colorado,7607.0,3250.0,5691287
22,East North Central,Michigan,5209.0,3142.0,9984072
8,South Atlantic,District of Columbia,3770.0,3134.0,701547
33,South Atlantic,North Carolina,6451.0,2817.0,10381615
2,Mountain,Arizona,7259.0,2606.0,7158024
10,South Atlantic,Georgia,6943.0,2556.0,10511131
11,Pacific,Hawaii,4131.0,2399.0,1420593
20,South Atlantic,Maryland,4914.0,2230.0,6035802
49,East North Central,Wisconsin,2740.0,2167.0,5807406
25,West North Central,Missouri,3776.0,2107.0,6121623
46,South Atlantic,Virginia,3928.0,2047.0,8501286
42,East South Central,Tennessee,6139.0,1744.0,6771631
6,New England,Connecticut,2280.0,1696.0,3571520
14,East North Central,Indiana,3776.0,1482.0,6695497
19,New England,Maine,1450.0,1066.0,1339057
36,West South Central,Oklahoma,2823.0,1048.0,3940235
15,West North Central,Iowa,1711.0,1038.0,3148618
44,Mountain,Utah,1904.0,972.0,3153550
17,East South Central,Kentucky,2735.0,953.0,4461153
0,East South Central,Alabama,2570.0,864.0,4887681
40,South Atlantic,South Carolina,3082.0,851.0,5084156
16,West North Central,Kansas,1443.0,773.0,2911359
12,Mountain,Idaho,1297.0,715.0,1750536
27,West North Central,Nebraska,1745.0,676.0,1925614
29,New England,New Hampshire,835.0,615.0,1353465
31,Mountain,New Mexico,1949.0,602.0,2092741
1,Pacific,Alaska,1434.0,582.0,735139
18,West South Central,Louisiana,2540.0,519.0,4659690
45,New England,Vermont,780.0,511.0,624358
28,Mountain,Nevada,7058.0,486.0,3027341
3,West South Central,Arkansas,2280.0,432.0,3009733
26,Mountain,Montana,983.0,422.0,1060665
7,South Atlantic,Delaware,708.0,374.0,965479
39,New England,Rhode Island,747.0,354.0,1058287
24,East South Central,Mississippi,1024.0,328.0,2981020
41,West North Central,South Dakota,836.0,323.0,878698
48,South Atlantic,West Virginia,1021.0,222.0,1804291
50,Mountain,Wyoming,434.0,205.0,577601
34,West North Central,North Dakota,467.0,75.0,758080

Print the top few rows

In [10]:
print(homelessness_fam.head())

                region          state  individuals  family_members  state_pop
32        Mid-Atlantic       New York      39827.0         52070.0   19530351
4              Pacific     California     109008.0         20964.0   39461588
21         New England  Massachusetts       6811.0         13257.0    6882635
9       South Atlantic        Florida      21443.0          9587.0   21244317
43  West South Central          Texas      19199.0          6111.0   28628666

## Instructions 3/3
* Sort `homelessness` first by region (ascending), and then by number of family members (descending). Save this as `homelessness_reg_fam.
* Print the head of the sorted DataFrame.

In [12]:
homelessness_reg_fam = homelessness.sort_values(["region" ,"family_members"], ascending=[True, False])

ValueError: For argument "ascending" expected type bool, received type str.

Print the top few rows

In [ ]:
print(homelessness_reg_fam.head())