## Introducing DataFrames

#### Course outline
* Chapter 1: DataFrames
   * Sorting and subsetting
   * Creating new columns
* Chapter 2: Aggregating Data
   * Summary statistics
   * Counting
   * Grouped summary statistics
* Chapter 3: Slicing and Indexing Data
  * Subsetting using slicing
  * Indexes and subsetting using indexes
* Chapter 4: Creating and Visualizing Data
  * Plotting
  * Handling missing data
  * Reading data into a DataFrame

## pandas is built on NumPy and Matplotlib

## pandas is popular

## Rectangular data

In [2]:
import pandas as pd
dogs = pd.read_csv('dogs.csv', index_col=0)
print(dogs)

              Breed  Color  Height (cm)   Weight (kg)  Date of Birth
Name
Bella      Labrador  Brown           56            25     2013-07-01
Charlie      Poodle  Black           43            23     2016-09-16
Lucy      Chow Chow  Brown           46            22     2014-08-25
Cooper   Schanauzer   Gray           49            17     2011-12-11
Max         Labrado  Black           59            29     2017-01-20
Stella    Chihuahua    Tan           18             2     2015-04-20
Bernie   St.Bernard  White           77            74     2018-02-27

## Exploring a DataFrame: .head()

In [3]:
dogs.head()

              Breed  Color  Height (cm)   Weight (kg)  Date of Birth
Name
Bella      Labrador  Brown           56            25     2013-07-01
Charlie      Poodle  Black           43            23     2016-09-16
Lucy      Chow Chow  Brown           46            22     2014-08-25
Cooper   Schanauzer   Gray           49            17     2011-12-11
Max         Labrado  Black           59            29     2017-01-20

In [4]:
dogs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Bella to Bernie
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Breed           7 non-null      object
 1   Color           7 non-null      object
 2   Height (cm)     7 non-null      int64
 3    Weight (kg)    7 non-null      int64
 4    Date of Birth  7 non-null      object
dtypes: int64(2), object(3)
memory usage: 336.0+ bytes

## Exploring a DataFrame: .shape

In [5]:
dogs.shape

(7, 5)

In [6]:
dogs.describe()

       Height (cm)   Weight (kg)
count     7.000000      7.000000
mean     49.714286     27.428571
std      17.960274     22.292429
min      18.000000      2.000000
25%      44.500000     19.500000
50%      49.000000     23.000000
75%      57.500000     27.000000
max      77.000000     74.000000

## Components of a DataFrame: . values

In [8]:
print(dogs.values)

[['Labrador' 'Brown' 56 25 '2013-07-01']
 ['Poodle' 'Black' 43 23 '2016-09-16']
 ['Chow Chow' 'Brown' 46 22 '2014-08-25']
 ['Schanauzer' 'Gray' 49 17 '2011-12-11']
 ['Labrado' 'Black' 59 29 '2017-01-20']
 ['Chihuahua' 'Tan' 18 2 '2015-04-20']
 ['St.Bernard' 'White' 77 74 '2018-02-27']]

## Components of a DataFrame: .columns and .index

In [9]:
dogs.columns

Index(['Breed', 'Color', 'Height (cm)', ' Weight (kg)', ' Date of Birth'], dtype='object')

In [10]:
dogs.index

Index(['Bella', 'Charlie', 'Lucy', 'Cooper', 'Max', 'Stella', 'Bernie'], dtype='object', name='Name')

## pandas Philosophy

There should be one -- and preferably only one -- obvious way to do it.