### Exercise
## Combo-attack!

You've seen the four most common types of data manipulation: sorting rows, subsetting columns, subsetting rows, and adding new columns. In a real-life data analysis, you can mix and match these four manipulations to answer a multitude of questions.

In this exercise, you'll answer the question, "Which state has the highest number of homeless individuals per 10,000 people in the state?" Combine your new `pandas` skills to find out.

## Instructions
* Add a column to 'homelessness', 'indiv_per_10k', containing the number of homeless individuals per ten thousand people in each state.
* Subset rows where `indiv_per_10k` is higher than `20`, assigning to `high_homelessness`.
* Sort `high_homelessness` by descending `indiv_per_10k`, assigning to `high_homelessness_srt.
* Select only the `state` and `indiv_per_10k` columns of `high_homelessness_srt` and save as `result`. *Look at the `result`.

In [2]:
import pandas as pd
homelessness = pd.read_csv('homelessness.csv', index_col=0)
homelessness

,region,state,individuals,family_members,state_pop
0,East South Central,Alabama,2570.0,864.0,4887681
1,Pacific,Alaska,1434.0,582.0,735139
2,Mountain,Arizona,7259.0,2606.0,7158024
3,West South Central,Arkansas,2280.0,432.0,3009733
4,Pacific,California,109008.0,20964.0,39461588
5,Mountain,Colorado,7607.0,3250.0,5691287
6,New England,Connecticut,2280.0,1696.0,3571520
7,South Atlantic,Delaware,708.0,374.0,965479
8,South Atlantic,District of Columbia,3770.0,3134.0,701547
9,South Atlantic,Florida,21443.0,9587.0,21244317
10,South Atlantic,Georgia,6943.0,2556.0,10511131
11,Pacific,Hawaii,4131.0,2399.0,1420593
12,Mountain,Idaho,1297.0,715.0,1750536
13,East North Central,Illinois,6752.0,3891.0,12723071
14,East North Central,Indiana,3776.0,1482.0,6695497
15,West North Central,Iowa,1711.0,1038.0,3148618
16,West North Central,Kansas,1443.0,773.0,2911359
17,East South Central,Kentucky,2735.0,953.0,4461153
18,West South Central,Louisiana,2540.0,519.0,4659690
19,New England,Maine,1450.0,1066.0,1339057
20,South Atlantic,Maryland,4914.0,2230.0,6035802
21,New England,Massachusetts,6811.0,13257.0,6882635
22,East North Central,Michigan,5209.0,3142.0,9984072
23,West North Central,Minnesota,3993.0,3250.0,5606249
24,East South Central,Mississippi,1024.0,328.0,2981020
25,West North Central,Missouri,3776.0,2107.0,6121623
26,Mountain,Montana,983.0,422.0,1060665
27,West North Central,Nebraska,1745.0,676.0,1925614
28,Mountain,Nevada,7058.0,486.0,3027341
29,New England,New Hampshire,835.0,615.0,1353465
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025
31,Mountain,New Mexico,1949.0,602.0,2092741
32,Mid-Atlantic,New York,39827.0,52070.0,19530351
33,South Atlantic,North Carolina,6451.0,2817.0,10381615
34,West North Central,North Dakota,467.0,75.0,758080
35,East North Central,Ohio,6929.0,3320.0,11676341
36,West South Central,Oklahoma,2823.0,1048.0,3940235
37,Pacific,Oregon,11139.0,3337.0,4181886
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922
39,New England,Rhode Island,747.0,354.0,1058287
40,South Atlantic,South Carolina,3082.0,851.0,5084156
41,West North Central,South Dakota,836.0,323.0,878698
42,East South Central,Tennessee,6139.0,1744.0,6771631
43,West South Central,Texas,19199.0,6111.0,28628666
44,Mountain,Utah,1904.0,972.0,3153550
45,New England,Vermont,780.0,511.0,624358
46,South Atlantic,Virginia,3928.0,2047.0,8501286
47,Pacific,Washington,16424.0,5880.0,7523869
48,South Atlantic,West Virginia,1021.0,222.0,1804291
49,East North Central,Wisconsin,2740.0,2167.0,5807406
50,Mountain,Wyoming,434.0,205.0,577601

Create indiv_per_10k col as homeless individuals per 10k state pop

In [3]:
homelessness["indiv_per_10k"] = 10000 * homelessness['individuals'] / homelessness['state_pop']
homelessness['indiv_per_10k']

0      5.258117
1     19.506515
2     10.141067
3      7.575423
4     27.623825
5     13.366045
6      6.383837
7      7.333148
8     53.738381
9     10.093523
10     6.605379
11    29.079406
12     7.409159
13     5.306895
14     5.639611
15     5.434130
16     4.956448
17     6.130702
18     5.451006
19    10.828516
20     8.141420
21     9.895919
22     5.217310
23     7.122409
24     3.435066
25     6.168299
26     9.267771
27     9.062045
28    23.314189
29     6.169351
30     6.806193
31     9.313145
32    20.392363
33     6.213869
34     6.160300
35     5.934222
36     7.164547
37    26.636307
38     6.376884
39     7.058577
40     6.061970
41     9.514077
42     9.065763
43     6.706215
44     6.037640
45    12.492833
46     4.620477
47    21.829195
48     5.658732
49     4.718113
50     7.513837
Name: indiv_per_10k, dtype: float64

Subset rows for indiv_per_10k greater than 20

In [5]:
high_homelessness = homelessness[homelessness['indiv_per_10k'] > 20]
high_homelessness

,region,state,individuals,family_members,state_pop,indiv_per_10k
4,Pacific,California,109008.0,20964.0,39461588,27.623825
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,53.738381
11,Pacific,Hawaii,4131.0,2399.0,1420593,29.079406
28,Mountain,Nevada,7058.0,486.0,3027341,23.314189
32,Mid-Atlantic,New York,39827.0,52070.0,19530351,20.392363
37,Pacific,Oregon,11139.0,3337.0,4181886,26.636307
47,Pacific,Washington,16424.0,5880.0,7523869,21.829195

Sort high_homelessness by descending `indiv_per_10k`, assigning to `high_homelessness_srt`.

In [6]:
high_homelessness_srt = high_homelessness.sort_values(['indiv_per_10k'], ascending=False)
high_homelessness_srt

,region,state,individuals,family_members,state_pop,indiv_per_10k
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,53.738381
11,Pacific,Hawaii,4131.0,2399.0,1420593,29.079406
4,Pacific,California,109008.0,20964.0,39461588,27.623825
37,Pacific,Oregon,11139.0,3337.0,4181886,26.636307
28,Mountain,Nevada,7058.0,486.0,3027341,23.314189
47,Pacific,Washington,16424.0,5880.0,7523869,21.829195
32,Mid-Atlantic,New York,39827.0,52070.0,19530351,20.392363

From high_homelessness_srt, select the state and indiv_per_10k cols

In [8]:
result = high_homelessness_srt[["state", "indiv_per_10k"]]
result

                   state  indiv_per_10k
8   District of Columbia      53.738381
11                Hawaii      29.079406
4             California      27.623825
37                Oregon      26.636307
28                Nevada      23.314189
47            Washington      21.829195
32              New York      20.392363

See the result

In [9]:
print(result)

                   state  indiv_per_10k
8   District of Columbia      53.738381
11                Hawaii      29.079406
4             California      27.623825
37                Oregon      26.636307
28                Nevada      23.314189
47            Washington      21.829195
32              New York      20.392363