# Pandas, Part 2

## brics

In [56]:
import pandas as pd
brics = pd.read_csv("brics.csv", index_col=0)
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.190      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

## Index and select data
- Square brackets
- Advanced methods
  * loc
  * iloc

## Column Access []

In [57]:
brics["country"]

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [58]:
type(brics["country"])

pandas.core.series.Series

In [59]:
brics[["country"]]

         country
BR        Brazil
RU        Russia
IN         India
CH         China
SA  South Africa

In [60]:
type(brics[["country"]])

pandas.core.frame.DataFrame

In [61]:
brics[["country", "capital"]]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

In [62]:
type(brics[["country", "capital"]])

pandas.core.frame.DataFrame

## Row Access []

In [63]:
brics[1:4]

   country    capital    area  population
RU  Russia     Moscow  17.190       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

## Discussion []
* Square brackets: limited functionally
* Ideally
  * 2D NumPy arrays
  * `my_array[rows, columns]`
* pandas
  * `loc` (label-based)
  * `iloc` (integer position-based)

## Row Access loc

In [66]:
brics.loc["RU"]

country       Russia
capital       Moscow
area           17.19
population     143.5
Name: RU, dtype: object

## Row Access loc DataFrame

In [67]:
brics.loc[["RU"]]

   country capital   area  population
RU  Russia  Moscow  17.19       143.5

## Multiple Row Access loc

In [68]:
brics.loc[["RU", "IN", "CH"]]

   country    capital    area  population
RU  Russia     Moscow  17.190       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

## Row & Column loc

In [69]:
brics.loc[["RU", "IN", "CH"], ["country", "capital"]]

   country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

In [70]:
brics.loc[:, ["country", "capital"]]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

## Recap
* Square brackets
  * Column access `brics[["country", "capital"]]`
  * Row access: only through slicing `brics[1:4]`
* loc(label-based)
  * Row access `brics.loc[["RU", "IN", "CH"]]
  * Column access brics.loc[:, ["country", "capital"]]
  * Row & Column access
  * `brics.loc[["RU", "IN", "CH], ["country", "capital"]]`

Row Access iloc

In [71]:
brics.loc[["RU"]]
brics.iloc[[1]]

   country capital   area  population
RU  Russia  Moscow  17.19       143.5

In [72]:
brics.loc[["RU", "IN", "CH"]]
brics.iloc[[1,2,3]]

   country    capital    area  population
RU  Russia     Moscow  17.190       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [74]:
brics.loc[["RU", "IN", "CH"], ["country", "capital"]]
brics.iloc[[1,2,3], [0,1]]

   country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

In [75]:
 brics.loc[:, ["country", "capital"]]
brics.iloc[:, [0,1]]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria