### Exercise
## Adding new columns

You aren't stuck with just the data you are given. Instead, you can add new columns to a DataFrame. This has many names, such as *transforming*, *mutating*, and *feature engineering*.

You can create new columns from scratch, but it is also common to derive them from other columns, for example, by adding columns together or by changing their units.

`homelessness` is available and `pandas` is loaded as `pd`.

In [2]:
import pandas as pd
homelessness = pd.read_csv('homelessness.csv', index_col=0)
homelessness.head()

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

## Instructions

* Adding a new column to `homelessnes`, named `total`, containing the sum of the `individuals` and `family_members` columns.
* Add another column to `homelessness`, named `p_individuals`, containing the proportion of homeless people in each state who are individuals.

Add total col as sum of individuals and family_members

In [3]:
homelessness['total'] = homelessness['individuals'] + homelessness['family_members']
homelessness['total']

0       3434.0
1       2016.0
2       9865.0
3       2712.0
4     129972.0
5      10857.0
6       3976.0
7       1082.0
8       6904.0
9      31030.0
10      9499.0
11      6530.0
12      2012.0
13     10643.0
14      5258.0
15      2749.0
16      2216.0
17      3688.0
18      3059.0
19      2516.0
20      7144.0
21     20068.0
22      8351.0
23      7243.0
24      1352.0
25      5883.0
26      1405.0
27      2421.0
28      7544.0
29      1450.0
30      9398.0
31      2551.0
32     91897.0
33      9268.0
34       542.0
35     10249.0
36      3871.0
37     14476.0
38     13512.0
39      1101.0
40      3933.0
41      1159.0
42      7883.0
43     25310.0
44      2876.0
45      1291.0
46      5975.0
47     22304.0
48      1243.0
49      4907.0
50       639.0
Name: total, dtype: float64

Add p_individuals col as proportion of individuals

In [5]:
homelessness['p_individuals'] = homelessness['individuals'] / homelessness['total']
homelessness['p_individuals']

0     0.748398
1     0.711310
2     0.735834
3     0.840708
4     0.838704
5     0.700654
6     0.573441
7     0.654344
8     0.546060
9     0.691041
10    0.730919
11    0.632619
12    0.644632
13    0.634408
14    0.718144
15    0.622408
16    0.651173
17    0.741594
18    0.830337
19    0.576312
20    0.687850
21    0.339396
22    0.623758
23    0.551291
24    0.757396
25    0.641849
26    0.699644
27    0.720777
28    0.935578
29    0.575862
30    0.643541
31    0.764014
32    0.433387
33    0.696051
34    0.861624
35    0.676066
36    0.729269
37    0.769481
38    0.604130
39    0.678474
40    0.783626
41    0.721311
42    0.778764
43    0.758554
44    0.662031
45    0.604183
46    0.657406
47    0.736370
48    0.821400
49    0.558386
50    0.679186
Name: p_individuals, dtype: float64

see the result

In [ ]:
print(homelessness)