# Pandas, Part 1

## Tabular dataset examples

| temperature | measured at         | location |
|-------------|---------------------|----------|
| 76          | 2016-01-01 14:00:01 | MANILA   |

## Datasets in Python
- pandas!
 * High level data manipulation tool
 * Wes McKinney
 * Built on NumPy
 * DataFrame

## DataFrame

## dataFrame from Dictionary

In [3]:
dict = {
    "country": ["Brazil", "Russia", "India", "China", "South Africa"],
    "capital": ["Brasilia", "Moscow", "New Delhi", "Beijing", "Pretoria"],
    "area": [8.516, 17.10, 3.286, 9.587, 1.221],
    "population": [200.4, 143.5, 1252, 1357, 52.98]
}

* keys (column labels)
* values (data, column by column)

In [4]:
import pandas as pd
brics = pd.DataFrame(dict)
brics

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Delhi   3.286     1252.00
3         China    Beijing   9.587     1357.00
4  South Africa   Pretoria   1.221       52.98

DataFrame from Dictionary (2)

In [5]:
brics.index = ["BR", "RU", "IN", "CH", "SA"]
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.587     1357.00
SA  South Africa   Pretoria   1.221       52.98

## DataFrame from CSV file
`brics.csv`

In [14]:
brics = pd.read_csv('brics.csv', index_col=0)
brics

Empty DataFrame
Columns: []
Index: [BR, Brazil, Brasilia, 8.516, 200.4, RU, Russia, Moscow, 17.19, 143.5, IN, India, New Delhi, 3.286, 1252, CH, China, Beijing, 9.597, 1357, SA, South Africa, Pretoria, 1.221, 52.98]