### Exercise
# Indexes and values(1)

Using a `for` loop to iterate over a list only gives you access to every list element in each run, one after to every list element in each run, one after the other. If you also want to access index information, so where the list element you're iterating over is located, you can use `enumerate()`.

As an example, have a look at how the `for` loop from the video was converted:

In [ ]:
fam = [1.73, 1.68, 1.71, 1.89]
for index, height in enumerate(fam) :
    print("person " + str(index) + ": " + str(height))

## Instructions
* Adapt the `for` loop in the sample code to use `enumerate(0` and use two iterator variables.
* Update the `print()` statement so that on each run, a line of the form "room x: y" should be printed, where x is the index of the list element and y is the actual list element, i.e. the area. Make sure to print out this exact string, with the correct spacing.

areas list

In [1]:
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

Changes for loop to use enumerate() and update print()

In [3]:
for i, a in enumerate(areas):
    print(f"room {i}: {a}")

US     809
AUS    731
JAP    588
IN      18
RU     200
MOR     70
EG      45
Name: cars_per_cap, dtype: int64

In [9]:
many_cars =  cpc > 500
many_cars

US      True
AUS     True
JAP     True
IN     False
RU     False
MOR    False
EG     False
Name: cars_per_cap, dtype: bool

In [10]:
car_maniac = cars[many_cars]
car_maniac

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False

In [11]:
print(cars[cars['cars_per_cap'] > 500])

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False