## New columns

## Adding a new column

In [1]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
dogs.head()

      name       breed  color  height_cm  weight_kg date_of_birth
0    Bella    Labrador  Brown         56         25    2013-07-01
1  Charlie      Poodle  Black         43         23    2016-09-16
2     Lucy   Chow Chow  Brown         46         22    2014-08-25
3   Cooper  Schanauzer   Gray         49         17    2011-12-11
4      Max    Labrador  Black         59         29    2017-01-20

In [3]:
dogs["height_m"] = dogs["height_cm"] / 100
dogs

      name       breed  color  height_cm  weight_kg date_of_birth  height_m
0    Bella    Labrador  Brown         56         25    2013-07-01      0.56
1  Charlie      Poodle  Black         43         23    2016-09-16      0.43
2     Lucy   Chow Chow  Brown         46         22    2014-08-25      0.46
3   Cooper  Schanauzer   Gray         49         17    2011-12-11      0.49
4      Max    Labrador  Black         59         29    2017-01-20      0.59
5   Stella   Chihuahua    Tan         18          2    2015-04-20      0.18
6   Bernie  St.Bernard  White         77         74    2018-02-27      0.77

## Doggy mass index

BMI = weight in kg/ (height in m ** 2)

In [4]:
dogs["bmi"] = dogs["weight_kg"] / dogs["height_m"] ** 2
dogs.head()

,name,breed,color,height_cm,weight_kg,date_of_birth,height_m,bmi
0,Bella,Labrador,Brown,56,25,2013-07-01,0.56,79.719388
1,Charlie,Poodle,Black,43,23,2016-09-16,0.43,124.391563
2,Lucy,Chow Chow,Brown,46,22,2014-08-25,0.46,103.969754
3,Cooper,Schanauzer,Gray,49,17,2011-12-11,0.49,70.803832
4,Max,Labrador,Black,59,29,2017-01-20,0.59,83.309394

## Multiple manipulations

In [6]:
bmi_lt_100 = dogs[dogs["bmi"] < 100]
bmi_lt_100_height = bmi_lt_100.sort_values("height_cm", ascending=False)
bmi_lt_100_height[["name", "height_cm", "bmi"]]

     name  height_cm        bmi
4     Max         59  83.309394
0   Bella         56  79.719388
3  Cooper         49  70.803832
5  Stella         18  61.728395

## Sorting by multiple variables

In [25]:
dogs.sort_values(["weight_kg", "height_cm"], ascending=[True, False])

      name       breed  color  height_cm  weight_kg date_of_birth
5   Stella   Chihuahua    Tan         18          2    2015-04-20
3   Cooper  Schanauzer   Gray         49         17    2011-12-11
2     Lucy   Chow Chow  Brown         46         22    2014-08-25
1  Charlie      Poodle  Black         43         23    2016-09-16
0    Bella    Labrador  Brown         56         25    2013-07-01
4      Max    Labrador  Black         59         29    2017-01-20
6   Bernie  St.Bernard  White         77         74    2018-02-27

Subsetting columns

In [26]:
dogs["name"]

0      Bella
1    Charlie
2       Lucy
3     Cooper
4        Max
5     Stella
6     Bernie
Name: name, dtype: object

## Subsetting multiple columns

In [27]:
dogs[["breed", "height_cm"]]

        breed  height_cm
0    Labrador         56
1      Poodle         43
2   Chow Chow         46
3  Schanauzer         49
4    Labrador         59
5   Chihuahua         18
6  St.Bernard         77

In [28]:
cols_to_subset = ["breed", "height_cm"]
dogs[cols_to_subset]

        breed  height_cm
0    Labrador         56
1      Poodle         43
2   Chow Chow         46
3  Schanauzer         49
4    Labrador         59
5   Chihuahua         18
6  St.Bernard         77

## Subsetting rows

In [29]:
dogs["height_cm"] > 50

0     True
1    False
2    False
3    False
4     True
5    False
6     True
Name: height_cm, dtype: bool

In [30]:
dogs[dogs["height_cm"] > 50]

     name       breed  color  height_cm  weight_kg date_of_birth
0   Bella    Labrador  Brown         56         25    2013-07-01
4     Max    Labrador  Black         59         29    2017-01-20
6  Bernie  St.Bernard  White         77         74    2018-02-27

## Subsetting based on text data

In [31]:
dogs[dogs["breed"] == "Labrador"]

    name     breed  color  height_cm  weight_kg date_of_birth
0  Bella  Labrador  Brown         56         25    2013-07-01
4    Max  Labrador  Black         59         29    2017-01-20

## Subsetting based on dates

In [32]:
dogs[dogs["date_of_birth"] > "2015-01-01"]

      name       breed  color  height_cm  weight_kg date_of_birth
1  Charlie      Poodle  Black         43         23    2016-09-16
4      Max    Labrador  Black         59         29    2017-01-20
5   Stella   Chihuahua    Tan         18          2    2015-04-20
6   Bernie  St.Bernard  White         77         74    2018-02-27

# Subsetting based on multiple conditions

In [34]:
is_lab = dogs["breed"] == "Labrador"
is_brown = dogs["color"] == "Brown"
dogs[is_lab & is_brown]

    name     breed  color  height_cm  weight_kg date_of_birth
0  Bella  Labrador  Brown         56         25    2013-07-01

one line of code

In [35]:
dogs[ (dogs["breed"] == "Labrador") & (dogs["color"] == "Brown") ]

    name     breed  color  height_cm  weight_kg date_of_birth
0  Bella  Labrador  Brown         56         25    2013-07-01

## Subsetting using .isin()

In [36]:
is_black_or_brown = dogs["color"].isin(["Black", "Brown"])
dogs[is_black_or_brown]

      name      breed  color  height_cm  weight_kg date_of_birth
0    Bella   Labrador  Brown         56         25    2013-07-01
1  Charlie     Poodle  Black         43         23    2016-09-16
2     Lucy  Chow Chow  Brown         46         22    2014-08-25
4      Max   Labrador  Black         59         29    2017-01-20