### Exercise
# The next step

Before, you have already written Python code that determines the next step based on the previous step. Now it's time to put this code inside a `for` loop so that we can simulate a random walk.

## Instructions
* Make a list `random_walk` that contains the first step, which is the integer 0.
* Finish the `for` loop.
* The loop should run `100` times.
* On each iteration, set `step` equal to the last element in the `random_walk` list. You can use the index `-1` for this.
* Next, let the `if`-`elif`-`else` construct update `step` for you.
* The code that appends `step` to `random_walk` is already coded.
* Print out `random_walk`.

NumPy is imported, seed is set

In [2]:
import numpy as np
np.random.seed(123)

Initialize random_walk

In [3]:
random_walk = [0]

Complete the for loop

In [5]:
for x in range(100):
    step = random_walk[-1]
    dice = np.random.randint(1, 7)
    if dice <= 2:
        step -= 1
    elif dice <= 5:
        step += 1
    else:
        step += np.random.randint(1, 7)
    random_walk.append(step)
print(random_walk)

[0, 4, 3, 2, 4, 3, 4, 6, 7, 8, 13, 12, 13, 14, 15, 16, 17, 16, 21, 22, 23, 24, 23, 22, 21, 20, 19, 20, 21, 22, 28, 27, 26, 25, 26, 27, 28, 27, 28, 29, 28, 33, 34, 33, 32, 31, 30, 31, 30, 29, 31, 32, 35, 36, 38, 39, 40, 41, 40, 39, 40, 41, 42, 43, 42, 43, 44, 45, 48, 49, 50, 49, 50, 49, 50, 51, 52, 56, 55, 54, 55, 56, 57, 56, 57, 56, 57, 59, 64, 63, 64, 65, 66, 67, 68, 69, 68, 69, 70, 71, 73]

In [10]:
car_maniac = cars[many_cars]
car_maniac

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False

In [11]:
print(cars[cars['cars_per_cap'] > 500])

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False